header {
  
  background: rgba(184,223,168);
  color: white;
  text-align: center;
  width: 100%;
  height: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
  display: inline-block;
}

nav {
  margin-top: 20px;
  background-color: rgb(191,241,203);
  width: 100%;
  height: 90px;
  display: inline-block;
  text-align: center;
}

nav ul {
  list-style: none;
  overflow: hidden;
  
}

nav ul li {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: rgba(44,187,145);
}

main {
  margin-top: 10px;
  width: 100%;
  height: 600px;
  display: flex;
  gap: 20px;
  /* border: 1px solid red; */
}

.menu {
  text-align: center;
  width: 20%;
  /* border: 1px solid black; */
  height: 600px;
  background-color: rgb(237,157,60);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
}

.menu ul {
  width: 60%;
  height: 600px;
  list-style: none;
  /* border: solid 1px green; */
  /* text-align: center; */
  margin: 0 auto;
  margin-left: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.menu ul li {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.menu ul li a {
  width: 100%;
  /* height: 20px; */
  border: 1px solid white;
  text-decoration: none;
  color: white;
  /* margin: 0 auto; */
}

.articulos {
  width: 100%;
  text-align: center;
  background-color: rgb(242,226,200);
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
  gap: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 2;
  color: white;
}
.noticias {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid white;
  height: 300px;
  margin-left: 20px;
}

.noticias p {
  width: 100%;
}

.musica {
  width: 100%;
  height: 300px;
  border: 1px solid white;
  display: flex;

  align-items: center;
}

.musica p {
  width: 100%;
}

.eventos {
  width: 100%;
  height: 300px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.eventos p {
  width: 100%;
}

footer {
  margin-top: 20px;
  text-align: center;
  height: 50px;
  background-color: rgb(51,45,23);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 20px;
  color: white;
}
